<!DOCTYPE html>
<html>

<head>
    <style>
        .dropdown:hover>.dropdown-menu {
            display: block;
        }

        .dropright:hover>.dropdown-menu {
            display: block;
            margin: 0;
        }

        .dropdown>.dropdown-menu {
            min-width: 6rem;
            padding: 0;
        }

        .form-inline i {
            color: #aaa;
        }

        .form-inline input[type=search]:focus+i {
            color: dodgerblue;
        }
    </style>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <i class="fa fa-home fa-lg" style="color: dodgerblue;" aria-hidden="true">
                <span class="text-dark">Online Academy</span>
            </i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="btn m-0" type="button" role="button" data-toggle="dropdown" id="categoryId"
                            aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="categoryId">
                            <div class="dropright m-0">
                                <a class="btn dropdown-toggle" type="button" style="width: 100%; margin-top: -3px;"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    IT
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Lập trình Web</a>
                                    <a class="dropdown-item" href="#">Lập trình di động</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 pl-sm-5 border" style="width: 800px;border-radius:20px"
                        type="search" placeholder="Search" aria-label="Search">
                    <i class="fa fa-search fa-lg ml-3 position-absolute" type="submit" role="button" aria-hidden="true">

                    </i>
                    </input>
                </form>
            </ul>
            <form class="form-inline">
                <div class="form-group">
                    <button type="button" class="btn btn-outline-primary mx-1" style="width: 120px;">Đăng
                        nhập</button>
                    <button type="button" class="btn btn-primary  mx-1" style="width: 120px;">Đăng kí</button>
                </div>
            </form>
        </div>
    </nav>


    {{{body}}}



    <footer style="display:flex">
        <a name="aboutUs" id="aboutUs" class="btn text-primary mx-auto" href="#" role="text">About us</a>
        <a name="contactUs" id="contactUs" class="btn text-primary mx-auto" href="#" role="text">Contact us</a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>