<!DOCTYPE html>
<html>

<head>
    <style>
        .dropdown:hover>.dropdown-menu {
            display: block;
        }

        .dropdown-menu>li:hover>.submenu {
            display: block;
        }

        .dropright:hover>.dropdown-menu {
            display: block;
        }

        .dropdown>.dropdown-menu {
            min-width: 6rem;
            padding: 0;
        }

        .form-inline i {
            color: #aaa;
        }

        .form-inline input[type=search]:focus+i {
            color: dodgerblue;
        }
    </style>
    <meta charset="utf-8">
    <title>Online Academy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <i class="fa fa-home fa-lg" style="color: dodgerblue;" aria-hidden="true">
                <span class="text-dark">Online Academy</span>
            </i>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100">
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="btn m-0" type="button" role="button" data-toggle="dropdown" id="categoryId"
                            aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropright m-0">
                                <a class="btn dropdown-item pt-2 px-3" data-toggle="dropdown" type="button"
                                    style="margin-top: -3px;width: 250px;height: 50px;" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Information Technology
                                    <i class="fa fa-arrow-right fa-sm float-xl-right pt-xl-2" aria-hidden="true"></i>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item btn text-left" style="width: 250px;" role="button"
                                            href="#">All Information Technology
                                        </a></li>
                                    {{#each lcCategories}}
                                    <li>
                                        <a class="dropdown-item btn text-left" style="width: 250px;"
                                            data-toggle="dropdown" role="button" href="#">
                                            {{CatName}}
                                            <i class="fa fa-arrow-right fa-sm float-xl-right pt-xl-1"
                                                aria-hidden="true"></i>
                                        </a>
                                        <ul class="submenu dropdown-menu text-left">
                                            <li><a class="dropdown-item btn text-left" style="width: 250px;"
                                                    role="button" href="#">All {{CatName}}
                                                </a></li>
                                            {{#each subs}}
                                            <li><a class="dropdown-item btn text-left" style="width: 250px;"
                                                    data-toggle="dropdown" role="button" href="#">
                                                    {{SubCatName}}
                                                </a></li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                    {{/each}}
                            </div>
                        </div>
                    </div>
                </li>

                <form class="form-inline flex-fill">
                    <input class="form-control mr-sm-2 pl-sm-5 border" style="min-width: 100% ;border-radius:20px"
                        type="search" placeholder="Search" aria-label="Search">
                    <i class="fa fa-search fa-lg ml-3 position-absolute" type="submit" role="button" aria-hidden="true">

                    </i>
                    </input>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <a name="" id="" class="btn btn-outline-primary mx-2" style="min-width: 120px;" href="#"
                            role="button">
                            Đăng nhập
                        </a>
                        <a name="" id="" class="btn btn-primary mx-2" style="min-width: 120px;" href="#" role="button">
                            Đăng kí
                        </a>
                    </div>
                </form>
            </ul>
        </div>
    </nav>


    {{{body}}}



    <footer style="display:flex">
        <a name="aboutUs" id="aboutUs" class="btn text-primary mx-auto" href="#" role="text">About us</a>
        <a name="contactUs" id="contactUs" class="btn text-primary mx-auto" href="#" role="text">Contact us</a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>