<div>
    <h1 class="text-center text-danger">TOP COURSES OF THE WEEK</h1>

    <div id="demo" class="carousel slide mx-auto w-75 h-40" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="https://www.udemy.com/course/python-the-complete-python-developer-course/" target="_blank"><img src="https://hackr.io/blog/best-python-courses/thumbnail/large" alt="Best-Python-Course"></a>
        </div>
        <div class="carousel-item">
            <a href="https://alison.com/fr/cours/developpement-web-selecteurs-css3-avances-et-elements-html5-revise" target="_blank"><img src="https://idesignschool.org/images/web-development.jpg" alt="Best-Web-Course"></a>
        </div>
        <div class="carousel-item">
            <a href="https://alison.com/fr/cours/developpement-web-selecteurs-css3-avances-et-elements-html5-revise" target="_blank"><img src="https://miro.medium.com/max/1024/1*6l15igU_z2Uj15SzOGx1Iw.png" alt="Best-Web-Course"></a>
        </div>
    </div>


    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="fas fa-angle-double-left" style="color:cyan; font-size:3rem"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="fas fa-angle-double-right" style="color:cyan; font-size:3rem"></span>
    </a>

    </div>
</div>




<div class="container">
    <h1>TOP 10 COURSES OF ALL CATEGORIES</h1>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 15rem;">
            <img src="https://img-a.udemycdn.com/course/240x135/625204_436a_3.jpg?jsnAhoyHSwu5dTS_zJXm4tr2u6ScADZXf5Lp1V6dpZMDGOpNPQccqubkX37bIwjCT6KV9JVJ_dr3ybr5LNS-ip4fCBFRgbeLsYFhmtxmd-U7IGux87gRYpTGVtNomO0" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Web Developer Bootcamp 2020</h5>
                <p style="font-size: 0.8rem;">Colt Steele</p>
                <p style="font-size: 0.8rem;">
                    <span style="color:rgb(189, 125, 8)">4.0 </span>
                    <i class="fa fa-star " aria-hidden="true" style="color:orange"></i>
                    <i class="fa fa-star " aria-hidden="true" style="color:orange"></i>
                    <i class="fa fa-star " aria-hidden="true" style="color:orange"></i>
                    <i class="fa fa-star " aria-hidden="true" style="color:orange"></i>
                    <i>(125)</i>
                </p>
                <p style="font-size: 0.8rem;">
                    <b>$11.99</b>
                    <del>$122.99</del>
                </p>
            </div>
            
            
            </div>
        </div>

    </div>
</div>

<div class="container">
    <h1>TOP 10 NEW COURSES</h1>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 15rem;">
            <img src="https://img-a.udemycdn.com/course/240x135/625204_436a_3.jpg?jsnAhoyHSwu5dTS_zJXm4tr2u6ScADZXf5Lp1V6dpZMDGOpNPQccqubkX37bIwjCT6KV9JVJ_dr3ybr5LNS-ip4fCBFRgbeLsYFhmtxmd-U7IGux87gRYpTGVtNomO0" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Web Developer Bootcamp 2020</h5>
                <p style="font-size: 0.8rem;">Colt Steele</p>
                <p style="font-size: 0.8rem;">
                    <span style="color:rgb(189, 125, 8)">4.0 </span>
                    <i class="fa fa-star " aria-hidden="true" style="color:orange"></i>
                    <i class="fa fa-star " aria-hidden="true" style="color:orange"></i>
                    <i class="fa fa-star " aria-hidden="true" style="color:orange"></i>
                    <i class="fa fa-star " aria-hidden="true" style="color:orange"></i>
                    <i>(125)</i>
                </p>
                <p style="font-size: 0.8rem;">
                    <b>$11.99</b>
                    <del>$122.99</del>
                </p>
            </div>
            
            
            </div>
        </div>

    </div>
</div>