'<p>This is a purely project-based course. It is geared toward beginners, but intermediate developers can also enjoy
    creating new things. This course includes 50 mini projects in HTML, CSS &amp; JavaScript that relate to the DOM
    (Document Object Model). Here is a list of what we will create in this course:</p>
<p>&nbsp;</p>
<ol>
    <li>
        <p>Expanding Cards</p>
    </li>
    <li>
        <p>Progress Steps</p>
    </li>
    <li>
        <p>Rotating Navigation Animation</p>
    </li>
    <li>
        <p>Hidden Search Widget</p>
    </li>
    <li>
        <p>Blurry Loading</p>
    </li>
    <li>
        <p>Scroll Animation</p>
    </li>
    <li>
        <p>Split Landing Page</p>
    </li>
    <li>
        <p>Form Wave</p>
    </li>
    <li>
        <p>Sound Board</p>
    </li>
    <li>
        <p>Dad Jokes</p>
    </li>
    <li>
        <p>Event Keycodes</p>
    </li>
    <li>
        <p>Faq Collapse</p>
    </li>
    <li>
        <p>Random Choice Picker</p>
    </li>
    <li>
        <p>Animated Navigation</p>
    </li>
    <li>
        <p>Incrementing Counter</p>
    </li>
    <li>
        <p>Drink Water</p>
    </li>
    <li>
        <p>Movie App</p>
    </li>
    <li>
        <p>Background Slider</p>
    </li>
    <li>
        <p>Theme Clock</p>
    </li>
    <li>
        <p>Button Ripple Effect</p>
    </li>
    <li>
        <p>Drag N Drop</p>
    </li>
    <li>
        <p>Drawing App</p>
    </li>
    <li>
        <p>Kinetic Loader</p>
    </li>
    <li>
        <p>Content Placeholder</p>
    </li>
    <li>
        <p>Sticky Navbar</p>
    </li>
    <li>
        <p>Double Vertical Slider</p>
    </li>
    <li>
        <p>Toast Notification</p>
    </li>
    <li>
        <p>Github Profiles</p>
    </li>
    <li>
        <p>Double Click Heart</p>
    </li>
    <li>
        <p>Auto Text Effect</p>
    </li>
    <li>
        <p>Password Generator</p>
    </li>
</ol>