<div style="margin: 4rem 8rem;">
    {{#if this.empty}}
    <h1>Khong co du lieu</h1>
    {{else}}
    {{#if this.isSub}}
    {{#each this.category}}
    <h1>All {{SubcategoryName}} Courses</h1>
    {{/each}}
    {{else}}
    {{#each this.category}}
    <h1>All {{CategoryName}} Courses</h1>
    {{/each}}
    {{/if}}
    {{/if}}
</div>